<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="style_authform.css">
        <meta charset="UTF-8"/>
        <title>Authorization</title>
    </head>
    <body>
        <form action="/authform" method="POST">
            <span class="user_auth">Login:</span> <input type="text" name="login"/><br/>
            <span class="user_auth">Password:</span> <input type="password" name="password"/><br/>
            <span class="user_auth">E-mail:</span> <input type="text" name="email"/>
            <input type="submit" value="Ok">
        </form>
        <p><span class="user_auth">Last login:</span> ${lastLogin}</p>
        <br/><span class="user_error">Нашли ошибку ?</span><a href="mailto:nyashcore@yandex.ru">отправте нам на почту</a>
    </body>

</html>